<div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-offset-8 col-lg-4">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="search" />
            </div>
        </div>
        <hr />
        <table class="table table-hover" ng-table="tableParams">
            <thead>
                <tr>
                    <td>Picture</td>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Owner ID</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="owner in vm.owners | filter:search">
                    <td>
                        <img ng-src="{{owner.fullImageUrl}}">
                    </td>
                    <td >{{ owner.fullName }}</td>
                    <td >{{ owner.address }}</td>
                    <td >{{ owner.ownerUniqueId }}</td>
                    <td>
                        <button class="btn btn-primary"
                                ui-sref="ownersEdit.info({ Id: owner.id })">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-primary"
                ui-sref="ownersEdit.info({ Id: 0 })">
            + Add
        </button>
    </div>
</div>