<form novalidate name="landPropertyMortgageForm">
    <div class="form-group" ng-class="{'has-error': landPropertyMortgageForm.MortgageID.$invalid}">
        <label for="MortgageID">Mortgage ID</label>
        <input type="text" class="form-control" id="MortgageID" name="MortgageID" placeholder="Mortgage ID (required)" ng-model="vm.landProperty.mortgage.mortgageIdentifier" required ng-maxlength="8" ng-pattern="vm.onlyNumbers" />
        <span class="help-block has-error" ng-show="landPropertyMortgageForm.MortgageID.$error.required">Mortgage ID is required</span>
        <span class="help-block has-error" ng-show="landPropertyMortgageForm.MortgageID.$error.maxlength">Mortgage ID is cannot contain more than 8 numbers</span>
        <span class="help-block has-error" ng-show="landPropertyMortgageForm.MortgageID.$error.pattern">Mortgage ID must contain only digits</span>
    </div>
    <div class="form-group" ng-class="{'has-error': landPropertyMortgageForm.Amount.$invalid}">
        <label for="Amount">Amount</label>
        <input type="text" class="form-control" id="Amount" name="Amount" placeholder="Amount (required)" ng-model="vm.landProperty.mortgage.amountRecieved" required />
        <span class="help-block has-error" ng-show="landPropertyMortgageForm.Amount.$invalid">Amount is required in format "12.34"</span>
    </div>
    <div class="form-group" ng-class="{'has-error': landPropertyMortgageForm.MortgageDate.$invalid}">
        <label for="MortgageDate">Date</label>

        <input class="form-control"
               id="MortgageDate"
               type="text"
               name="MortgageDate"
               datepicker-localdate
               datepicker-popup="MM/dd/yyyy"
               readonly="readonly"
               is-open="vm.opened"
               required
               ng-model="vm.landProperty.mortgage.createdOn" />
        <span class="input-group-btn">
            <button class="btn btn-default"
                    ng-click="vm.open($event)">
                <i class="glyphicon glyphicon-calendar" />
            </button>
        </span>
        <span class="help-block has-error" ng-show="landPropertyMortgageForm.MortgageDate.$invalid">Mortgage Date is required</span>
    </div>
    <button type="submit" class="btn btn-success" name="submit" ng-disabled="landPropertyMortgageForm.$invalid" ng-click="vm.submit()">Submit</button>
    <button type="submit" class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
</form>