<div>
    <div class="panel-body">
        <table class="table">

            <thead>
                <tr>
                    <td>Picture</td>
                    <td>Id</td>
                    <td>Area</td>
                    <td>UPI</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="property in vm.properties">
                    <td>
                        <img ng-src="{{property.imageUrl}}">
                    </td>
                    <td>{{ property.Id}}</td>
                    <td>{{ property.Area }}</td>
                    <td>{{ property.UPI }}</td>
                    <td>
                        <button class="btn btn-primary"
                           ui-sref="landPropertiesEdit({ Id: property.Id })">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-primary"
                ui-sref="landPropertiesEdit({ Id: 0 })">
            + Add
        </button>
    </div>
</div>