<form novalidate name="landPropertyInfoForm">
    <div class="form-group" ng-class="{'has-error': landPropertyInfoForm.UPI.$invalid}">
        <label for="UPI">UPI</label>
        <input type="text" class="form-control" name="UPI" id="UPI" placeholder="UPI (required)" ng-model="vm.landProperty.upi" required ng-maxlength="8" ng-pattern="vm.onlyNumbers" />
        <span class="help-block has-error" ng-show="landPropertyInfoForm.UPI.$error.required">UPI is required</span>
        <span class="help-block has-error" ng-show="landPropertyInfoForm.UPI.$error.maxlength">UPI cannot contain more than 8 numbers</span>
        <span class="help-block has-error" ng-show="landPropertyInfoForm.UPI.$error.pattern">UPI must contain only digits</span>
    </div>
    <div class="form-group" ng-class="{'has-error': landPropertyInfoForm.Area.$invalid}">
        <label for="Area">Area</label>
        <input type="text" class="form-control" name="Area" id="Area" placeholder="Area UPI (required) " ng-model="vm.landProperty.area" required />
        <span class="help-block has-error" ng-show="landPropertyInfoForm.Area.$invalid">Area is required</span>
    </div>
    <div class="form-group" >
        <div>
            <img ng-src="{{vm.landProperty.fullImageUrl}}" alt="Image">
        </div>
        <label for="attachment" class="col-md-2 control-label">Land Property</label>
        <div class="col-md-10">
            @*<input type="file" name="attachment"
                   class="form-control" data-ak-file-model="vm.landProperty.attachment" />*@

            <div>
                <input type="file" name="attachment" class="form-control" ng-file-select="onFileSelect($files)">
            </div>

        </div>
        <p class="help-block">Upload image for the property</p>
    </div>

    <button type="submit" class="btn btn-success" ng-click="vm.submit()" ng-disabled="landPropertyInfoForm.$invalid">Submit</button>
    <button type="submit" class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>

</form>