<div class="ui-container">
    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size:large">
            {{vm.title}}
        </div>
        <div class="wizard">
            <a ui-sref=".info"
               ui-sref-active="active">
                Land Property Information
            </a>
            <a ui-sref=".owners"
               ui-sref-active="active">
                Owners
            </a>
            <a ui-sref=".mortgage"
               ui-sref-active="active">
                Mortgage
            </a>
        </div>
        <div ui-view></div>
    </div>    
</div>