<div>
    <div class="panel-body">
        <table class="table table-hover">

            <thead >
                <tr>
                    <td>Picture</td>
                    <td>Id</td>
                    <td>Area</td>
                    <td>UPI</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="property in vm.properties">
                    <td>
                        <img ng-src="{{property.fullImageUrl}}">
                    </td>
                    <td>{{ property.id}}</td>
                    <td>{{ property.area }}</td>
                    <td>{{ property.upi }}</td>
                    <td>
                        <button class="btn btn-primary"
                                ui-sref="landPropertiesEdit.info({ Id: property.id })">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-primary"
                ui-sref="landPropertiesEdit.info({ Id: 0 })">
            + Add
        </button>
    </div>
</div>