<div ng-controller="app.views.about as vm">
    <h1><img src="~/App/Main/images/cb0168f1a40184f7b07a6873b0ec876429121e5b22194358317817ed507eeaaa.jpg" style="padding-right: 10px;" />Land Properties Managment System</h1>
    <p>@Html.Raw(L("About_AspNetBoilerplateDescription"))</p>
    <p>@L("ForMoreInformation"): <a href="mailto:plamentsokov@gmail.com"><strong>plamentsokov@gmail.com</strong></a>.</p>
</div>