/* Application specific styles */
body {
}
/* Styles for angular ui transition animations */
.angular-animation-container {
  position: relative;
}
.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
  position: absolute;
}
.shuffle-animation.ng-enter {
  -moz-transition: ease-out all 0.3s 0.4s;
  -o-transition: ease-out all 0.3s 0.4s;
  -webkit-transition: ease-out all 0.3s 0.4s;
  transition: ease-out all 0.3s 0.4s;
  left: 2em;
  opacity: 0;
}
.shuffle-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave {
  -moz-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave.ng-leave-active {
  left: 2em;
  opacity: 0;
}

/*Custom css*/

.table-hover{
    margin-bottom:50px;
    margin-top:5px;
}

img{
    max-width:150px;
}

.table-hover thead{
    background: #efefef;
    height: 150px;
}

.table-hover img{
    max-width:100px;
}

.table-hover td{
    vertical-align: middle!important;
}

form{
    padding: 40px 10px 10px 10px;
}

button{
    margin:10px 10px 0 0;
}

.wizard a {
    background: #efefef;
    display: inline-block;
    margin-right: 2px;
    min-width: 150px;
    outline: none;
    padding: 10px 40px 10px;
    position: relative;
    text-decoration: none;
}
.wizard .active {
    background: #5F9EA0;
    color: #fff;
}

.container-fluid{
    min-height: 500px;
}